<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROfMakcBsMwYeiX6M1-LSQARVxewnaOsXzJSLw62911Hb4vPUc&usqp=CAU" type="image/x-icon">
</head>

<body>

    <div class="container">
        <h1 class="title">Update Product</h1>
        <div class="box-input">
            <form action="doUpdate" method="POST">
                <input type="hidden" class="text" name="id" value="{{products._id}}">
                <input class="text" type="text" name="txtName" placeholder="Name" value="{{products.name}}">
                <input class="text" type="text" name="txtAuthor" placeholder="Auhtor" value="{{products.author}}"> 
                <input class="text" type="text" name="txtPrice" placeholder="Price" value="{{products.price}}">
                <textarea class="text" name="txtDetail" cols="36" rows="10" placeholder="Detail">{{products.detail}}</textarea>
                <input class="submit" type="submit" value="Update product">
            </form>
        </div>
    </div>
</body>

</html>