@model TrainningProject.Models.Account
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <h2>ChangePassword</h2>

    <div class="data">
        <div class="form-edit">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" name="UserName" value="@ViewBag.UserName" />


                    <div class="form-group">
                        <label class="col-md-4">Current Pass</label>
                        <div class="col-md-10">
                            <input type="password" name="oldPass" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6">New Password</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @if (User.IsInRole("TrainningStaff"))
                            {
                                @Html.ActionLink("Cancel", "GetProfileUser", "TrainningStaffUser", new { userName = ViewBag.UserName }, new { @class = "btn btn-secondary" })
                            }
                            @if (User.IsInRole("Trainer"))
                            {
                                @Html.ActionLink("Cancel", "GetUser", "TrainerUser", new { userName = ViewBag.UserName }, new { @class = "btn btn-secondary" })
                            }
                            @if (User.IsInRole("Trainee"))
                            {
                                @Html.ActionLink("Cancel", "TraineeProfile", "TraineeUser", new { userName = ViewBag.UserName }, new { @class = "btn btn-secondary" })
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>