
@{
    ViewBag.Title = "_TrainningStaff";
    Layout = null;
}


<ul class="navbar-nav mr-auto">

    <li class="nav-item">
        @Html.ActionLink("Category", "GetCategories", "TrainningStaffUser", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Topic", "GetTopic", "TrainningStaffUser", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Assign", "GetAssign", "TrainningStaffUser", null, new { @class = "nav-link" })
    </li>

    <li class="nav-item">
        @Html.ActionLink("Course", "GetCourses", "TrainningStaffUser", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Trainee", "GetTrainees", "TrainningStaffUser", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Trainer", "Index", "Trainers", new { userName = User.Identity.Name }, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Your Profile", "GetProfileUser", "TrainningStaffUser", new { userName = User.Identity.Name }, new { @class = "nav-link" })
    </li>


</ul>

